@media only screen and (min-device-width:160px) and (max-width: 1920px){
	body{
		font-family: Microsoft JhengHei;
		background-color:#B6CF70;
	}
	.container{
		margin: 50px auto;

	}
	#spt{
		text-align: center;
	}
	#fui{
		transform:rotate(90deg);
		margin-top: 90px;
	}
	#clic{
		margin-top: 80px;
	}
	.footer{
		color: white;
		text-align: center;
		flex: 0 0 auto;
	}

	img{
		height: auto;
		max-width: 100%;
	}
}

