@media only screen and (min-width:0px) and (max-width: 1920px){
	body{
		height: 100%;
		font-family: Microsoft JhengHei;
		background-color:#B6CF70;
		font-size: 2vmin;
	}
	.wrapper{
		min-height: 100%;
		position: relative;
	}
	.header{
		height:100%;
		box-sizing: border-box;
	}
	.container{
		margin:40px auto;

	}

	img{
		height: auto;
		max-width: 100%;
	}

	.footer{
		color: white;
		text-align: center;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	
}

