@media only screen and (min-width:0px) and (max-width: 1920px){
	body{
		height: 100%;
		font-family: Microsoft JhengHei;
		background-color:#F6FEB3;
		font-size: 2vmin;
	}
	.wrapper{
		min-height: 100%;
		position: relative;
	}
	.header{
		height:100%;
	}
	.container{
		margin:0 auto;

	}

	img{
		height: auto;
		max-width: 100%;
	}

	.footer{
		color: white;
		text-align: center;
		position:top;
		bottom: 0;
		width: 100%;
	}

	.toTop-arrow {
		width: 3rem;
		height: 3rem;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 33%;
		opacity: 0.6;
		background: #000;
		cursor: pointer;
		position:fixed;
		right: 1rem;
		bottom: 1rem;
		display: none;
	}
	.toTop-arrow::before, .toTop-arrow::after {
		width: 25px;
		height: 6px;
		border-radius: 3px;
		background: #f90;
		position: absolute;
		content: "";
	}
	.toTop-arrow::before {
		transform: rotate(-45deg) translate(0, -50%);
		left: 0.42rem;
	}
	.toTop-arrow::after {
		transform: rotate(45deg) translate(0, -50%);
		right: 0.42rem;
	}
	.toTop-arrow:focus {outline: none;}
	
}
